<!DOCTYPE html>
<html>
<head>
    <title>Full Contributions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <a href="{{ url_for('user_profile', user_id=user.id) }}"><button class="back-button">Back</button></a>
    <div class="container">
        <h1>Full Contributions</h1>
        <div class="contributions-list">
            {% for word in contributions %}
                <div class="contribution-item">{{ word }}</div>
            {% endfor %}
        </div>
    </div>
</body>
</html>