<!DOCTYPE html>
<html>
<head>
    <title>Word Database</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <div class="login-wrapper">
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('profile') }}"><button>Profile</button></a>
        {% else %}
            <a href="{{ url_for('login') }}"><button>Login</button></a>
        {% endif %}
    </div>
    <div class="main-content">
        <div class="container">
            <h1>Word Database</h1>
            <form id="wordForm">
                <input type="text" id="word" name="word" placeholder="Enter a word">
                <button type="submit">Add Word</button>
            </form>
            <p id="message"></p>
        </div>
        <div class="leaderboard">
            <h2>Leaderboard</h2>
            <ul>
                {% for user in leaderboard %}
                    <li>
                        <span>{{ user.username }}</span>
                        <span>{{ user.contributions.split(',')|length if user.contributions else 0 }} contributions</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>