<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <a href="{{ url_for('index') }}"><button class="back-button">Back</button></a>
    <div class="container profile-container">
        <h1>Profile</h1>
        <h2>Welcome, {{ current_user.username }}</h2>
        <p>Joined on: {{ current_user.date_joined.strftime('%B %d, %Y') }}</p>
        <h3>Your Contributions:</h3>
        <ul>
            {% for word in contributions[:5] %}
                <li>{{ word }}</li>
            {% endfor %}
        </ul>
        {% if contributions|length > 5 %}
            <a href="{{ url_for('full_contributions', user_id=current_user.id) }}" class="button_class">See Full List</a>
        {% endif %}
        <h3>Your Achievements:</h3>
        <ul>
            {% for achievement in (current_user.achievements or "").split(',') %}
                <li>{{ achievement }}</li>
            {% endfor %}
        </ul>
        <h3>Your Friends:</h3>
        <div class="friend-list">
            <ul>
                {% for friend in current_user.friends %}
                    <li class="friend-item">
                        <a href="{{ url_for('user_profile', user_id=friend.id) }}">{{ friend.username }}</a>
                        <form action="{{ url_for('remove_friend', friend_id=friend.id) }}" method="POST">
                            <button class="button_class remove-button" type="submit">Remove Friend</button>
                        </form>
                    </li>
                {% else %}
                    <li>No friends added.</li>
                {% endfor %}
            </ul>
        </div>
        
        <!-- Logout Button -->
        <form action="{{ url_for('logout') }}" method="POST" style="display:inline;">
            <button class="button_class" type="submit">Logout</button>
        </form>
    </div>
</body>
</html>