<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <a href="{{ url_for('index') }}"><button class="back-button">Back</button></a>
    <div class="settings-container container form-container">
        <h1>Settings</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flashes">
              {% for category, message in messages %}
                {% if category.startswith('settings_') or category in ['success', 'info'] %}
                  <li class="{{ category }}">{{ message }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <form method="POST">
            <input class="form-in" id="username" type="text" name="username" placeholder="New Username" autocomplete="off">
            <input class="form-in" id="password" type="password" name="password" placeholder="New Password" autocomplete="off">
            <div class="checkbox-wrapper">
                <label class="checkbox-container" for="is_private">
                    <input id="is_private" type="checkbox" name="is_private" {% if current_user.is_private %}checked{% endif %}>
                    <span class="checkmark"></span>
                    Update Profile
                </label>
            </div>
            <button class="button_class" type="submit" aria-label="Update Profile">Update Profile</button>
        </form>
    </div>
</body>
</html>