<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <a href="{{ url_for('index') }}"><button class="back-button">Back</button></a>
    <div class="container form-container">
        <h1>Sign Up</h1>
        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a></p>
    </div>
</body>
</html>