<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <a href="{{ url_for('index') }}"><button class="back-button">Back</button></a>
    <div class="container">
        <h1>{{ user.username }}'s Profile</h1>
        {% if user.is_private %}
            <p><em>This profile is private.</em></p>
        {% else %}
            <p>Joined on: {{ user.date_joined.strftime('%B %d, %Y') }}</p>
            <h3>Contributions:</h3>
            <ul>
                {% for word in contributions[:5] %}
                    <li>{{ word }}</li>
                {% endfor %}
            </ul>
            {% if contributions|length > 5 %}
                <a href="{{ url_for('full_contributions', user_id=user.id) }}" class="button_class">See Full List</a>
            {% endif %}
            <h3>Achievements:</h3>
            <ul>
                {% for achievement in (user.achievements or "").split(',') %}
                    <li>{{ achievement }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h3>Friends:</h3>
        <ul>
            {% for friend in user.friends %}
                <li>
                    <a href="{{ url_for('user_profile', user_id=friend.id) }}">{{ friend.username }}</a>
                </li>
            {% else %}
                <li>No friends added.</li>
            {% endfor %}
        </ul>

        {% if current_user.is_authenticated and current_user.id != user.id %}
            {% if user in current_user.friends %}
                <form action="{{ url_for('remove_friend', friend_id=user.id) }}" method="POST">
                    <button class="button_class" type="submit">Remove Friend</button>
                </form>
            {% else %}
                <form action="{{ url_for('add_friend', friend_id=user.id) }}" method="POST">
                    <button class="button_class" type="submit">Add Friend</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>