<!DOCTYPE html>
<html>
<head>
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="gradient-background"></div>
    <a href="{{ url_for('index') }}"><button class="back-button">Back</button></a>
    <div class="container">
        <h1>{{ user.username }}'s Profile</h1>
        <p>Joined on: {{ user.date_joined.strftime('%B %d, %Y') }}</p>
        <h3>Contributions:</h3>
        <ul>
            {% for word in contributions[:5] %}
                <li>{{ word }}</li>
            {% endfor %}
        </ul>
        {% if contributions|length > 5 %}
            <a href="{{ url_for('full_contributions', user_id=user.id) }}" class="button_class"><button class="button_class">See Full List</button></a>
        {% endif %}
        <h3>Achievements:</h3>
        <ul>
            {% for achievement in (user.achievements or "").split(',') %}
                <li>{{ achievement }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>